<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564980369490-f65j4lrsmmfc9deu8teavmc87o3g23td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564980369490-f65j4lrsmmfc9deu8teavmc87o3g23td</string>
	<key>API_KEY</key>
	<string>AIzaSyD5IR3Q1Rx_7vfTfCIhj79BvHX5YW9d01Y</string>
	<key>GCM_SENDER_ID</key>
	<string>564980369490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>homeapp-b31ea</string>
	<key>STORAGE_BUCKET</key>
	<string>homeapp-b31ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564980369490:ios:76e0f3277d8a18e48c778b</string>
</dict>
</plist>